.App {
  text-align: center;
}
.Location_random{
  background-color: rgb(5, 7, 7);
  color: white;
}
.info_location{
  display: flex;
  justify-content: space-around;
}
.fondo_img{
  height: 450px;
  width: 100%;
}